*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    max-width: 1920px;
    width: 100%;
    height: auto;
   
}

.section3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.sec_tepa{
   width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    padding-left: 375px;
}
.sec_tepa p{
    font-weight: 800;
font-size: 14px;
line-height: 30px;
/* or 214% */

display: flex;
align-items: center;

color: #7FAD39;
}
.sec_tepa span{
    font-weight: 800;
font-size: 14px;
line-height: 30px;
/* or 214% */

display: flex;
align-items: center;

color: 
#2A2A2A;
}

.sec3_past{
    width: 100%;
    height: 290px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 375px;
}

.sec3_box1{
    margin-top: 40px;
    background-image: url(./img/Rectangle\ 3.png);
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: purple;
    width: 377px;
    height: 290px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text{
    margin-top: 67px; 
    width: 151px;
    height: 123px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text p{
    font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #2A2A2A;
}

.sec3_text span{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: black;
}

.sec3_btn{
    width: 141px;
    height: 50px;
    display: flex;
    align-items: flex-start;
}

.sec3_btn button{
    width: 141px;
    height: 50px;
    background-color: 
    #2A2A2A;
    color: white;
    border: none;

}
.sec3_box2{
    margin-top: 40px;
    background-image: url(./img/Rectangle\ 3\ \(1\).png);
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: purple;
    width: 377px;
    height: 290px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text{
    margin-top: 67px; 
    width: 151px;
    height: 123px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text p{
    font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #2A2A2A;
}

.sec3_text span{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: black;
}

.sec3_btn{
    width: 141px;
    height: 50px;
    display: flex;
    align-items: flex-start;
}

.sec3_btn button{
    width: 141px;
    height: 50px;
    background-color: 
    #2A2A2A;
    color: white;
    border: none;

}
.sec3_box3{
    margin-top: 40px;
    background-image: url(./img/Rectangle\ 3\ \(2\).png);
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: purple;
    width: 377px;
    height: 290px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text{
    margin-top: 67px; 
    width: 151px;
    height: 123px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text p{
    font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #2A2A2A;
}

.sec3_text span{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: black;
}

.sec3_btn{
    width: 141px;
    height: 50px;
    display: flex;
    align-items: flex-start;
}

.sec3_btn button{
    width: 141px;
    height: 50px;
    background-color: 
    #2A2A2A;
    color: white;
    border: none;

}

.sec3_3{
    margin-top: 20px;
    width: 1170px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./img/Rectangle\ 3\ \(3\).png);
    filter: blur(1px);
}

.sec3_3 p{
    padding-bottom: 31px;
    font-weight: 900;
font-size: 24px;
line-height: 34px;
/* or 142% */

display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}

.sec3_3 button{
    padding-left: 10px;
    width: 271px;
    height: 40px;
    font-weight: 900;
font-size: 14px;
line-height: 34px;
/* or 243% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
background: rgba(127, 173, 57, 0.7);
border: 2px dashed #FFFFFF;
}